:root {
  --off-white: #EEEEEE;
  --gold: #AA9A60;
  --red: #A92403;
  --teal: #245F69;
  --dark-green: #18201D;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Cabin', sans-serif;
}

.account {
  display: flex;
  width: 90vw;
}

.avatar {
  width: 30vw;
  height: 30vw;
  margin: 10px 20px;
}

.account-details {
  text-align: left;
  overflow-wrap: anywhere;
  margin: 20px;
}
