:root {
  --off-white: #EEEEEE;
  --gold: #AA9A60;
  --red: #A92403;
  --teal: #245F69;
  --dark-green: #18201D;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Cabin', sans-serif;
}

header {
  background-color: var(--red);
  color: var(--off-white);
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 30px;
  align-items: center;
  border: var(--dark-green) solid 1px;
}

header * {
  margin: 5px;
  text-align: left;
  align-items: center;
  text-decoration: none;
  color: var(--off-white);
}

header h6 {
  grid-column-start: 1;
  font-size: small;
  margin-left: 12px;
}

.nav {
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
  margin: 5vw;
}

.menu-button * {
  align-items: center;
  font-size: medium;
}

.menu-icon {
  font-size: xx-large;
  align-items: center;
}

.nav {
  position: absolute;
  width: 45px;
  right: 0px;
}

.account_icon {
  font-size: xx-large;
  position: absolute;
  right: 20%;
}