:root {
  --off-white: #EEEEEE;
  --gold: #AA9A60;
  --red: #A92403;
  --teal: #245F69;
  --dark-green: #18201D;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Cabin', sans-serif;
}

a {
  text-decoration: none !important; 
}

header {
  background-color: var(--red);
  color: var(--off-white);
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 30px;
  align-items: center;
  border: var(--dark-green) solid 1px;
}

header * {
  margin: 5px;
  text-align: left;
  align-items: center;
  text-decoration: none;
  color: var(--off-white);
}

h1 {
  margin-left: 15px;
}

header h6 {
  grid-column-start: 1;
  font-size: small;
  margin-left: 16px;
  margin-bottom: 15px;
}

.menu-button * {
  position: flex;
  align-items: center;
  font-size: medium;
  top: 0px;
}

.menu-icon {
  position: absolute;
  font-size: xx-large;
  align-items: center;
  right: 0px;
  top: -80px;
  background-color: var(--red);
  border-color: var(--red);
  color: var(--off-white);
}

.nav {
  display: flex;
  background-color: var(--gold);
  color: var(--off-white);
  width: 100vw;
  margin-bottom: 10px
}

.nav p {
  margin: 5px 20px;
  width: 50px;
}

.account_icon {
  font-size: xx-large;
  position: absolute;
  right: 100px;
  top: 30px;
}

.user-avatar {
    position: absolute;
    right: 100px;
    top: 30px;
    width: 40px;
    height: 40px;
    margin: 0px;
    border-radius: 50%;
  }

.menu-icon::after {
    display: none !important;
}

.menu-icon:focus {
  background-color: var(--red) !important;
  border-color: var(--red) !important;
}
