:root {
  --off-white: #EEEEEE;
  --gold: #AA9A60;
  --red: #A92403;
  --teal: #245F69;
  --dark-green: #18201D;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border-color: var(--dark-green);
  border-style: solid;
  border-width: 1px;
}

.App {
  text-align: center;
}
